body {
  margin: 0;
  padding: 6% 9%;
  box-sizing: border-box;
  min-height: 100vh;
  background: linear-gradient(45deg, #a1c4fd 0%, #cbebfa 100%);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
}
